@use "sass:map";
@use "vars" as *;

@layer elements {
  .container {
    max-width: 1200px;
    padding-inline: map.get($sizes, "pad");
    margin-inline: auto;
  }

  .brand {
    display: flex;
    align-items: stretch;
    gap: rem(17px);

    &__logo {
      flex: 0 1 rem(73px);
      //aspect-ratio: 1 / 1;
    }

    &__title {
      align-self: center;
      font-size: rem(27px);
      color: map.get($colors, "primary", "accent");
      letter-spacing: .05em;
    }
  }

  .no-display, .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}
