@use "sass:map";
@use "sass:meta";
@use "vars" as *;
@use "mixins" as *;


//@layer header {
  .header {
    display: flex;
    flex-direction: column;

    &__navbar {
      background-color: map.get($colors, primary, solid);
    }

    @media (max-width: #{map.get($media, lg, lt)}) {
      &__navbar {
        order: 1;

        .container {
          padding-inline: 0;
        }
      }

      &__info {
        order: 2;
        padding-block: rem(20px);
      }
    }

    @media (min-width: #{map.get($media, lg, gt)}) {
      justify-content: space-between;
      height: rem(408px);
      padding-bottom: rem(17px);
      background: url(../images/header.jpg) no-repeat 50% 50%;
      background-size: cover;

      &::before {
        content: "";
      }

      &__navbar {

      }

      &__info {
        background-color: hsla(0, 100%, 100%, .75);
      }
    }
  }






  @include meta.load-css("navbar");
  @include meta.load-css("menu");
  @include meta.load-css("info");
//}

/*
@layer elements {
  .test {
    background: pink;
  }
}*/
