@mixin fill {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset($color: $color-text) {
  color: $color;

  &:link, &:visited, &:hover, &:active {
    color: $color;
    text-decoration: none;
  }
}

@function rem($val){
  $remSize: $val / $px-size;
  @return #{$remSize}rem;
}

@function rem_xxs($val){
  $remSize: $val / $px-size_xxs;
  @return #{$remSize}rem;
}

