@use 'sass:math';
//@use 'vars' as *;

//@layer mixins {
  @mixin fill {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  @mixin reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @mixin link-reset($color: $color-text) {
    color: $color;

    &:link, &:visited, &:hover, &:active {
      color: $color;
      text-decoration: none;
    }
  }

  //@function rem($val) {
    //$remSize: math.div($val, $px-size);
    //@return #{$remSize}rem;
    //@return $val
  //}

  //@function rem_xxs($val) {
    //$remSize: math.div($val, $px-size_xxs);
    //@return #{$remSize}rem;
    //@return $val
  //}
//}
