$delta: .0001px;
$media: (
  xxs: (
    gt: 0,
    lt: 0,
  ),
  xs: (
    gt: 320px,
    lt: 320px - $delta,
  ),
  sm: (
    gt: 576px,
    lt: 576px - $delta,
  ),
  md: (
    gt: 768px,
    lt: 768px - $delta,
  ),
  lg: (
    gt: 992px,
    lt: 992px - $delta,
  ),
  xl: (
    gt: 1200px,
    lt: 1200px - $delta,
  ),
  xxl: (
    gt: 1400px,
    lt: 1400px - $delta,
  ),
);

$colors: (
  primary: (
    accent: #c5111d,
    solid: #666699,
    space: #fff,
  ),
  muted:  (
    regular: #9d9daf,
    invert: #fff,
    inverted: #fff,
  ),
  text:  (
    regular: #212131,
    invert: #fff,
    inverted: #fff,
  ),
);

$sizes: (
  pad: 10px,
  control: (
    default: 37px,
    lg: 45px,
  )
);

$misc: (
  dur: 1s,
);

$typo: (
  base: (
    family: 'Montserrat, Helvetica, sans-serif',
    size: 16px,
  ),
  size: (
    em: (
      xs: .5em,
      sm: .75em,
      md: 1em,
      lg: 1.25em,
    )
  )
);

$interface: (
  divider: (
    muted: (
      regular: #9d9daf,
      inverted: #fff,
    )
  )
)






