$delta: .0001px;
$media: (
  xxs: (
    gt: 0,
    lt: 0,
  ),
  xs: (
    gt: 320px,
    lt: 320px - $delta,
  ),
  sm: (
    gt: 576px,
    lt: 576px - $delta,
  ),
  md: (
    gt: 768px,
    lt: 768px - $delta,
  ),
  lg: (
    gt: 992px,
    lt: 992px - $delta,
  ),
  xl: (
    gt: 1200px,
    lt: 1200px - $delta,
  ),
  xxl: (
    gt: 1400px,
    lt: 1400px - $delta,
  ),
);

$colors: (
  primary: (
    accent: #c5111d,
    solid: #666699
  ),
  muted:  (
    regular: #c5111d,
    invert: #fff,
    inverted: #fff,
  ),
  text:  (
    regular: #212131,
    invert: #fff,
    inverted: #fff,
  ),
);

@function color_flat() {

}

$sizes: (
  pad: 10px
);

$misc: (
  dur: 1s,
);

$typo: (
  base: (
    family: 'Montserrat, Helvetica, sans-serif',
    size: 16px,
  ),
);






