@import 'normalize.css';
@import 'vars';
@import 'mixins';
@import 'debug';
@import 'typography';
@import 'elements';
@import 'header';
@import 'forms';

html {
  font-size: 62.5%;

  @media (min-width: $sm) {
    font-size: 80%;
  }

  @media (min-width: $lg) {
    font-size: 100%;
  }
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 300px;
  font-family: 'Tahoma', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}



.primary {
  flex: 1;
}
